<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<!-- ******雷达图获取任务调度配置start -->
	<bean id="radarImgTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 指定运行类 -->
		<property name="targetObject">
			<bean class="com.weather.task.RadarImgTask"/>
		</property>
		<!-- 指定运行方法 -->
		<property name="targetMethod" value="job"></property>
		<!--作业不并发调度,前一个任务没完成下一个任务不开始 -->
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- 任务触发器 -->
	<bean id="radarImgTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 触发执行的对象 -->
		<property name="jobDetail" ref="radarImgTask" />
		<!-- 触发规则
			这些星号由左到右按顺序代表 ：     *    *     *     *    *     *   *     
                                                                                 格式： [秒]  [分]  [小时]  [日]  [月]  [周]  [年] 
		 -->
		<property name="cronExpression" value="0 */1 * * * ?" />
	</bean>
	<!-- ******雷达图获取任务调度配置end -->
	
	<!-- ******气象信息获取任务调度配置start -->
	<bean id="weatherTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.weather.task.WeatherTask"/>
		</property>
		<property name="targetMethod" value="job"></property>
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- 任务触发器 -->
	<bean id="weatherTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="weatherTask" />
		<!-- 每小时执行一次  -->
		<property name="cronExpression" value="0 0 */1 * * ?" />
	</bean>
	<!-- ******气象信息获取任务调度配置end -->
	
	
	<!-- 调度工厂配置 end -->
	<!-- 配置项目启动5秒后执行该任务，执行任务 -->
	<bean id="taskJobTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="weatherTask"/>
		<property name="startDelay" value="1000"/> <!-- 启动延迟 -->
		<property name="repeatInterval" value="300000"/><!-- 多久执行一次 -->
		<property name="repeatCount" value="0"/> <!-- 重复次数 -->
	</bean>
	
	<!-- 调度工厂配置 start -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 任务触发器 -->
				<ref bean="radarImgTrigger" />
				<ref bean="weatherTaskTrigger" />
				<ref bean="taskJobTrigger"/>
			</list>
		</property>
	</bean>
	
</beans>